[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-gnb {
  background-image: url(../images/icon-gnb-mobile-white.png);
  background-size: 4rem;
  width: 5rem;
  height: 5rem;
}