h4.title {
  margin: 5rem 0 3rem 0;
  font-size: 3rem;
  text-align: center;
}

h5.sub-title {
  margin: 3rem 0 1rem 0;
  font-size: 2.4rem;
}

.explain {
  display: block;
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 3rem;
}

a {
  font-size: 2rem;
}

.text-red {
  font-weight: bold;
  color: #5b0c0c;
}