.ani-opacity-07 {
  animation: opacity;
  animation-duration: 2s;
  animation-delay: .7s;
  animation-iteration-count: infinite;
}

.ani-opacity-1 {
  animation: opacity;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.ani-opacity-13 {
  animation: opacity;
  animation-duration: 2s;
  animation-delay: 1.3s;
  animation-iteration-count: infinite;
}

.ani-opacity-15 {
  animation: opacity;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

.ani-opacity-18 {
  animation: opacity;
  animation-duration: 2s;
  animation-delay: 1.8s;
  animation-iteration-count: infinite;
}

//.ani-scale1 {
//
//}

.ani-scale2 {
  animation: scale2;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}