@font-face {
    font-family: Noto;
    src: url(./font/NotoSansCJKkr-Regular.eot), url(./font/NotoSansCJKkr-Regular.woff);
}

html,
body {
    background: #4775bf;
    min-height: 100vh;
}

#root {
    height: 100vh;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: Noto;
    font-size: 10px;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}

.main {
    font-size: 2.4rem;
}

@media all and (-ms-high-contrast: active), all and (-ms-high-contrast: none) {
    *::-webkit-scrollbar {
        position: absolute;
        width: 0.5em;
    }

    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #efebef;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        outline: 0.1rem solid slategrey;
        border-radius: 1rem;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    *::-webkit-scrollbar {
        width: 0.3em;
    }
}
